#EXTM3U
#EXTINF:-1 group-title="AZE",AZTV
https://str1.yodacdn.net/aztv/tracks-v1a1/mono.ts.m3u8?token=fe46d7a4e1a16c554842b1bb48f288abb594b08b-302dc1a0390178d8b989b5afa0384680-1739538515000000-1739527715000
#EXTINF:-1 group-title="AZE",ATV
https://stream.atv.az/WebRTCAppEE/streams/780339739845112514894920_720p1500kbps.m3u8?token=undefined&subscriberId=undefined&subscriberCode=undefined
#EXTINF:-1 group-title="AZE",ARB
http://mfe02.cliptv.az/dash/ARB_SDwdv010056_re.ism/playlist.mpd
#EXTINF:-1 group-title="AZE",Xezer
https://raw.githubusercontent.com/UzunMuhalefet/streams/main/myvideo-az/xezer-tv.m3u8
#EXTINF:-1 group-title="AZE",Space
https://raw.githubusercontent.com/UzunMuhalefet/streams/main/myvideo-az/space-tv.m3u8
#EXTINF:-1 group-title="AZE",ARB24
https://raw.githubusercontent.com/UzunMuhalefet/streams/main/myvideo-az/arb-24.m3u8
#EXTINF:-1 group-title="AZE",BakuTV
https://rtmp.baku.tv/live/bakutv_540p.m3u8
#EXTINF:-1 group-title="AZE",MedeniyyetTV
https://str1.yodacdn.net/medeniyyet/tracks-v1a1/mono.ts.m3u8?token=fe46d7a4e1a16c554842b1bb48f288abb594b08b-302dc1a0390178d8b989b5afa0384680-1739538515000000-1739527715000
#EXTINF:-1 group-title="AZE",ARB Gunes
https://raw.githubusercontent.com/UzunMuhalefet/streams/main/myvideo-az/arb-gunes.m3u8
#EXTINF:-1 group-title="AZE",CBC Sport
https://mn-nl.mncdn.com/cbcsports_live/cbcsports/chunklist.m3u8
#EXTINF:-1 group-title="AZE",IdmanTV
https://str1.yodacdn.net/idman/tracks-v1a1/mono.ts.m3u8?token=fe46d7a4e1a16c554842b1bb48f288abb594b08b-302dc1a0390178d8b989b5afa0384680-1739538515000000-1739527715000
#EXTINF:-1 group-title="AZE",AZSTAR
http://live.azstartv.com/azstar/azstar_240p/playlist.m3u8
#EXTINF:-1 group-title="AZE",AgroTV
https://yayin30.haber100.com/live/agrotv2/chunklist_w1691893424.m3u8
#EXTINF:-1 group-title="AZE",APATV
http://rtmp.apa.tv/@pagroup!23.m3u8
#EXTINF:-1 group-title="AZE",AlvinChannel
https://cdn10-alvinchannel.yayin.com.tr/alvinchannel/alvinchannel/playlist.m3u8
#EXTINF:-1 group-title="AZE",ELTV
http://85.132.53.162:1935/live/eltv/playlist.m3u8
#EXTINF:-1 group-title="AZE",HDSHOW PLUS
https://glb.bozztv.com/glb/ssh101/showplus/index.m3u8
#EXTINF:-1 group-title="TURK",KANAL D
https://demiroren.daioncdn.net/kanald/kanald_1080p.m3u8?&sid=75ua99ja8mh0&app=da2109ea-5dfe-4107-89ab-23593336ed61&ce=3
#EXTINF:-1 group-title="TURK",StarTV
https://dogus.daioncdn.net/startv/startv_720p.m3u8?&sid=75uoic423htc&app=a20ac41e-bdc3-4aa1-934d-26b484480ac9&ce=3
#EXTINF:-1 group-title="TURK",Kanal 7
https://kanal7.daioncdn.net/kanal7/kanal7_480p.m3u8?&sid=630s3zibbjtp&app=f99587ad-1637-494d-8255-da35b09d17a1&ce=3
#EXTINF:-1 group-title="TURK",TV8
https://tv8.daioncdn.net/tv8/tv8_1080p.m3u8?&sid=75usngn823a1&app=7ddc255a-ef47-4e81-ab14-c0e5f2949788&ce=3
#EXTINF:-1 group-title="TURK",ATV
http://mfe.cliptv.az/dash/ATV_Turk_HDufk050056_re.ism/playlist.mpd
#EXTINF:-1 group-title="TURK",ShowTV
https://ciner-live.daioncdn.net/showtv/showtv_1080p.m3u8
#EXTINF:-1 group-title="TURK",GlobalTV
https://tv.ensonhaber.com/haberglobal/haberglobal.m3u8
#EXTINF:-1 group-title="TURK",TRT 1
https://trt.daioncdn.net/trt-1/master_1080p.m3u8?&sid=75uo92rcreqv&app=ed3904e8-737b-4a5e-856a-1b0d7a0a94e2&ce=2
#EXTINF:-1 group-title="TURK",Bengeturk
https://tv.ensonhaber.com/benguturk/benguturk.m3u8
#EXTINF:-1 group-title="TURK",Teve 2
https://demiroren.daioncdn.net/teve2/teve2_480p.m3u8?&sid=75txxw8t53cj&app=6aab838a-437e-4a1b-bbd0-e30f79cdbbbd&ce=3
#EXTINF:-1 group-title="TURK",FortunaTV
https://rbmn-live.akamaized.net/hls/live/590964/BoRB-AT/master_1660.m3u8
#EXTINF:-1 group-title="TURK",BeyazTV
https://beyaztv-live.daioncdn.net/beyaztv/beyaztv_1080p.m3u8
#EXTINF:-1 group-title="TURK",PowerTurk
https://livetv.powerapp.com.tr/powerturkTV/powerturkhd.smil/playlist.m3u8
#EXTINF:-1 group-title="TURK",HaberGlobal
https://tv.ensonhaber.com/haberglobal/haberglobal.m3u8
#EXTINF:-1 group-title="TURK",HaberTurk
https://ciner-live.daioncdn.net/haberturktv/haberturktv_1080p.m3u8
#EXTINF:-1 group-title="TURK",TRTHaber
https://tv-trthaber.medya.trt.com.tr/master_360.m3u8
#EXTINF:-1 group-title="TURK",Cine6
https://canli.cine6tv.com.tr:3614/stream/play.m3u8
#EXTINF:-1 group-title="TURK",ASpor
https://proxy.canlitvplayer.com/tgn.bozztv.com/gin-dvrfl05/gin-aspor/tracks-v1a1/mono.m3u8?nimblesessionid=778039718&wmsAuthSign=c2VydmVyX3RpbWU9Mi8xNy8yMDI1IDE6MjQ6NTUgUE0maGFzaF92YWx1ZT0wc2NGclIrYWV3UjJrS2RLVndzTkRRPT0mdmFsaWRtaW51dGVzPTE0NDAmc3RybV9sZW49MjE=
#EXTINF:-1 group-title="TURK",TRTBelgesel
https://tv-trtbelgesel.medya.trt.com.tr/master_720.m3u8
#EXTINF:-1 group-title="TURK",DMAX
https://dogus-live.daioncdn.net/dmax/dmax.m3u8
#EXTINF:-1 group-title="TURK",BloomBerg
https://bloomberght-live.daioncdn.net/bloomberght/bloomberght.m3u8
#EXTINF:-1 group-title="TURK",SportsTV
https://live.sportstv.com.tr/hls/low/sportstv_fhd/index.m3u8
#EXTINF:-1 group-title="TURK",Cartoon Network
https://proxy.canlitvplayer.com/cartoonnetwork.blutv.com/blutv_cartoonnetwork/live_720p2850000kbps/index.m3u8
#EXTINF:-1 group-title="TURK",Minika Cocuk
https://proxy.canlitvplayer.com/tgn.bozztv.com/gin-dvrfl05/gin-minikacocuk/tracks-v1a1/mono.m3u8?nimblesessionid=778032321&wmsAuthSign=c2VydmVyX3RpbWU9Mi8xNy8yMDI1IDE6MjE6MzMgUE0maGFzaF92YWx1ZT1lOWY3TXB1a2F5cnVyNlhRU0lmRFdBPT0mdmFsaWRtaW51dGVzPTE0NDAmc3RybV9sZW49Mjc=
#EXTINF:-1 group-title="TURK",TRT Cocuk
https://tv-trtcocuk.medya.trt.com.tr/master_720.m3u8
#EXTINF:-1 group-title="TURK",TiviTurk
https://stream.tiviturk.de/live/tiviturk.m3u8
#EXTINF:-1 group-title="TURK",Kanal 7 Avrupa
https://livetv.radyotvonline.net/kanal7live/kanal7avr/chunklist.m3u8
#EXTINF:-1 group-title="TURK",Aktiv TV
https://akittv-live.ercdn.net/akittv/akittv.m3u8
#EXTINF:-1 group-title="TURK",Bengu Turk
https://tv.ensonhaber.com/benguturk/benguturk.m3u8
#EXTINF:-1 group-title="TURK",Dost TV
https://dost.stream.emsal.im/tv/live.m3u8
#EXTINF:-1 group-title="TURK",Kanal S
http://stream.tvcdn.net/yerel/kanal-s.m3u8
#EXTINF:-1 group-title="TURK",Meclis S
https://meclistv-live.ercdn.net/meclistv/meclistv.m3u8
#EXTINF:-1 group-title="TURK",Tarim TV
https://content.tvkur.com/l/c7e1da7mm25p552d9u9g/index-360p.m3u8
#EXTINF:-1 group-title="TURK",T 2
https://teve2.duhnet.tv/S2/HLS_LIVE/teve2np/playlist.m3u8
#EXTINF:-1 group-title="TURK",TiviTurk
https://stream.tiviturk.de/live/tiviturk.m3u8
#EXTINF:-1 group-title="TURK",TLC
https://dogus-live.daioncdn.net/tlc/tlc_360p.m3u8
#EXTINF:-1 group-title="TURK",TRT Avaz
https://tv-trtavaz.medya.trt.com.tr/master_360.m3u8
#EXTINF:-1 group-title="TURK",TRT EBA
https://tv-e-okul04.medya.trt.com.tr/master_720.m3u8
#EXTINF:-1 group-title="TURK",TRT Turk Eurpa
https://tv-trtturk.medya.trt.com.tr/master_360.m3u8
#EXTINF:-1 group-title="TURK",Turk Haber
https://edge1.socialsmart.tv/turkhaber/bant1/playlist.m3u8
#EXTINF:-1 group-title="TURK",TV 4
https://turkmedya-live.ercdn.net/tv4/tv4_720p.m3u8
#EXTINF:-1 group-title="TURK",TV NET
https://mn-nl.mncdn.com/tvnet/tvnet/playlist.m3u8
#EXTINF:-1 group-title="TURK",TV 24
https://turkmedya-live.ercdn.net/tv24/tv24_360p.m3u8
#EXTINF:-1 group-title="TURK",360
https://turkmedya-live.ercdn.net/tv360/tv360.m3u8
#EXTINF:-1 group-title="TURK",FB TV
http://stream.tvcdn.net/spor/fb-tv.m3u8
#EXTINF:-1 group-title="TURK",NATIONAL
http://185.32.44.154/NationalGeographicHD/index.m3u8
#EXTINF:-1 group-title="TURK",PowerTurk
https://listen.powerapp.com.tr/pturktaptaze/taptaze.smil/playlist.m3u8
#EXTINF:-1 group-title="RUS",EvroNovesti
http://mfe01.cliptv.az/dash/Evronovosti_SDpoz269.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",RTDHD
https://hls.rt.com/hls/rtdru.m3u8
#EXTINF:-1 group-title="RUS",MIR HD
http://hls.mirtv.cdnvideo.ru/mirtv-parampublish/mirtv_2500/playlist.m3u8
#EXTINF:-1 group-title="RUS",MIR24
http://hls.mirtv.cdnvideo.ru/mirtv-parampublish/mir24_2500/playlist.m3u8
#EXTINF:-1 group-title="RUS",MIR
http://hls.mirtv.cdnvideo.ru/mirtv-parampublish/mirtv3_2500/playlist.m3u8
#EXTINF:-1 group-title="RUS",Dizi Rus
http://194.158.222.36:6086
#EXTINF:-1 group-title="RUS",Amedia Pro
http://stream01.vnet.am/AmediaPremium/mono.m3u8
#EXTINF:-1 group-title="RUS",Amedia Hit
http://stream01.vnet.am/Nauka/mono.m3u8
#EXTINF:-1 group-title="RUS",RBK
http://online.video.rbc.ru/online/rbctv_576p/index.m3u8
#EXTINF:-1 group-title="RUS",RJD
http://hls.tva.cdnvideo.ru/tva/tvahd.sdp/playlist.m3u8
#EXTINF:-1 group-title="RUS",NTV
https://streaming.goodstream.cyou/live/213.m3u8
#EXTINF:-1 group-title="RUS",Russia 24
https://vgtrkregion-reg.cdnvideo.ru/vgtrk/tambov/russia24-sd/index.m3u8
#EXTINF:-1 group-title="RUS",Aris
http://serv25.vintera.tv:8081/test/aris/playlist.m3u8
#EXTINF:-1 group-title="RUS",Lubimiy Kino
http://130.193.73.10:8937/play/a037
#EXTINF:-1 group-title="RUS",NST
http://stream01.vnet.am/Channel_125/mono.m3u8
#EXTINF:-1 group-title="RUS",Sapfir
http://130.193.73.10:8937/play/a01e
#EXTINF:-1 group-title="RUS",TVC
https://tvc-hls.cdnvideo.ru/tvc-res/smil:vd9221_2.smil/12ed865707c77a12eeecfa3177775684--tvc-res--vd9221_480p_2--tracks-v1a1--mono.m3u8?hls_proxy_host=22b5db40ced763465289cd8236e019fb
#EXTINF:-1 group-title="RUS",RUTV
https://hls-03-video.webcaramba.com/rutv/live_360/index.m3u8?wmsAuthSign=c2VydmVyX3RpbWU9NS8xMi8yMDE4IDEwOjExOjA2IFBNJmhhc2hfdmFsdWU9cGtzUElvZjBwOUFIcDZRenpxQmxLdz09JnZhbGlkbWludXRlcz01
#EXTINF:-1 group-title="RUS",Black
http://109.200.130.123:7537/play/a02s
#EXTINF:-1 group-title="RUS",SCI-FI
http://130.193.73.10:8937/play/a02q
#EXTINF:-1 group-title="RUS",Amedia 1
http://stream01.vnet.am/Channel_128/mono.m3u8
#EXTINF:-1 group-title="RUS",Amedia 2
http://stream01.vnet.am/Zagorodniy/tracks-v1a1/mono.m3u8
#EXTINF:-1 group-title="RUS",Cinema
http://185.46.48.18:80/cinema/tracks-v1a1/mono.m3u8
#EXTINF:-1 group-title="RUS",Filim
http://130.193.73.10:8937/play/a03s
#EXTINF:-1 group-title="RUS",FX
http://stream01.vnet.am/Fox/mono.m3u8
#EXTINF:-1 group-title="RUS",FX Lite
http://dmi3y-tv.ru/hls/CH_FOXLIFE.m3u8
#EXTINF:-1 group-title="RUS",Kino Living
http://109.200.130.123:7537/play/a02k
#EXTINF:-1 group-title="RUS",TRASH
http://185.23.80.28:8080/TRASH/index.m3u8?token=test
#EXTINF:-1 group-title="RUS",Viasat kino word
https://wowza1.leisertv.com/live/tv1000russiakino.stream/playlist.m3u8
#EXTINF:-1 group-title="RUS",Viju tv
http://185.50.148.2:7703/TV1000/index.m3u8
#EXTINF:-1 group-title="RUS",Viju Action
http://185.50.148.2:7703/TV1000Action/index.m3u8
#EXTINF:-1 group-title="RUS",Illuziya
http://185.23.80.28:8080/Illyuzion+/index.m3u8?token=tva.in.ua
#EXTINF:-1 group-title="RUS",Comedi
http://185.23.80.28:8080/Camedi/index.m3u8?token=tva.in.ua
#EXTINF:-1 group-title="RUS",Comedi 2
http://130.193.73.10:8937/play/a03k
#EXTINF:-1 group-title="RUS",KINO
http://185.50.148.2:7703/Detskiy/index.m3u8
#EXTINF:-1 group-title="RUS",KinoMistika
https://autopilot.catcast.tv/content/40783/index.m3u8
#EXTINF:-1 group-title="RUS",KinoEksin
https://autopilot.catcast.tv/content/41333/index.m3u8
#EXTINF:-1 group-title="RUS",Izvestia
http://hls-igi.cdnvideo.ru/igi/igi_sq/playlist.m3u8
#EXTINF:-1 group-title="RUS",C1
https://sitv.ru/hls/stv1024.m3u8
#EXTINF:-1 group-title="RUS",Amedia premium
http://stream01.vnet.am/AmediaPremium/mono.m3u8
#EXTINF:-1 group-title="RUS",KinoTV
http://193.242.190.6:8099/88/index.m3u8
#EXTINF:-1 group-title="RUS",KinoSemya
http://mfe01.cliptv.az:80/dash/Kinosemya_SD_PIVhjdh8f7eg.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",Mujskoy Kino
http://mfe02.cliptv.az/dash/Mujskoye_Kino_SDpoiu876.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",KinoHit
http://mfe01.cliptv.az/dash/Kinohit_SDqwecvrt672.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",IndeyskiyKino
http://mfe01.cliptv.az:80/dash/Indiyskoe_Kino_SDfdghj4.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",VIP Serial
http://mfe02.cliptv.az/dash/MGM_HDqwervbyu78.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",Domasniy
http://185.32.44.154/domashniy/index.m3u8
#EXTINF:-1 group-title="RUS",Izvestiya
http://hls-igi.cdnvideo.ru/igi/igi_sq/playlist.m3u8
#EXTINF:-1 group-title="RUS",STS
http://mfe02.cliptv.az:80/dash/STS_SDshl247h.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",Aris 24
http://serv25.vintera.tv:8081/test/aris/playlist.m3u8
#EXTINF:-1 group-title="RUS",StarnaFM
http://live.stranafm.cdnvideo.ru/stranafm/stranafm_hd.sdp/playlist.m3u8
#EXTINF:-1 group-title="RUS",Kuxniya TV
http://mfe02.cliptv.az/dash/Kuxnya_TV_SDlao150.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",Futbols
http://185.57.68.33/110/mpegts
#EXTINF:-1 group-title="RUS",Zoopark
http://185.32.44.154/zoopark/index.m3u8
#EXTINF:-1 group-title="RUS",MoyaPlaneta
http://31.148.48.15:80/Moya_Planeta/index.m3u8?token=test
#EXTINF:-1 group-title="RUS",NAUKA HD
http://185.32.44.154/nauka/index.m3u8
#EXTINF:-1 group-title="RUS",RTG
http://mfe02.cliptv.az/dash/RTG_HDkfy734.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",Detskiy Mir
http://mfe02.cliptv.az:80/dash/Detskiy_Mir_SDqwvb78iu.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",Multfilim
http://mfe02.cliptv.az/dash/Mult_SDkye43.ism/playlist.mpd
#EXTINF:-1 group-title="RUS",Live TV
https://tv.mobyservice.ru/livetv/index.m3u8
